@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@800&family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
body {
  font-family: Lato;
  background-color: #f8f9fa;
}
hr {
  margin: 0px;
}
.jumbotron {
  margin-top: 67px;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}
.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
  font-size: 60px;
}

.jumbotron .container {
  font-family: Catamaran;
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: 0.25rem;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.category-header {
  background-size: cover !important;
  background-position: center !important;
  background-attachment: fixed !important;
  background-color: cadetblue !important;
  background-blend-mode: lighten !important;
}
